#ifndef SECRETS_H
#define SECRETS_H

const char* WIFI_SSID = "YOUR_WIFI_NAME";
const char* WIFI_PASSWORD = "YOUR_WIFI_PASSWORD";

const char* MQTT_SERVER = "YOUR_BROKER_ADDRESS";
const int MQTT_PORT = 8883;

const char* MQTT_ESP32_USER = "esp32_user";
const char* MQTT_ESP32_PASSWORD = "YOUR_ESP32_PASSWORD";

const char* MQTT_WEB_USER = "web_client";
const char* MQTT_WEB_PASSWORD = "YOUR_WEB_PASSWORD";

const char* TOPIC_COMMANDS = "chair/commands";
const char* TOPIC_STATUS = "chair/status";

#endif
